:root {
    --bg-btn: #dfdbdb;
    --btn-color: #5c5959;
}

#power:checked~.btn-change::before {
    transition: 0.3s;
    transform: translateX(23px);
}

#bank:checked~.btn-change::before {
    transition: 0.3s;
    transform: translateX(23px);
}

#checkboxPower {
    background-color: var(--bg-btn);
}

#checkboxPower::before {
    content: '';
    display: block;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: var(--btn-color);
    transition: 0.3s;
    transform: translateX(0);
}

#checkboxBank {
    background-color: var(--bg-btn);
}

#checkboxBank::before {
    content: '';
    display: block;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: var(--btn-color);
    transition: 0.3s;
    transform: translateX(0);
}