:root {
    --bg-btn: #fed7d7;
    --btn-color: #e53e3e;
}

#power:checked~.btn-change::before {
    transition: 0.3s;
    transform: translateX(23px);
}

#bank:checked~.btn-change::before {
    transition: 0.3s;
    transform: translateX(23px);
}

/* .btn-change {
    background-color: var(--bg-btn);
}

.btn-change::before {
    content: '';
    display: block;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: var(--btn-color);
    transition: 0.3s;
    transform: translateX(0);
} */

#checkboxPower {
    background-color: var(--bg-btn);
}

#checkboxPower::before {
    content: '';
    display: block;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: var(--btn-color);
    transition: 0.3s;
    transform: translateX(0);
}

#checkboxBank {
    background-color: var(--bg-btn);
}

#checkboxBank::before {
    content: '';
    display: block;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: var(--btn-color);
    transition: 0.3s;
    transform: translateX(0);
}